<% include ../partials/header %>
<h1>Edit an existing country</h1>
<form action="/countries/<%= country.id%>?_method=put" method="POST" >
  <div>
    <label for="name">Name: </label>
    <input type="text" name="country[name]" id="name"  value = "<%= country.name%>"autofocus>
  </div>
  <div class="form-group">
    <label for="capital">Capital: </label>
    <input type="text" name="country[capital]" id="capital"  value = "<%= country.capital%>" autofocus>
  </div>
  <div class="form-group">
    <label for="population">Population: </label>
    <input type="text" name="country[population]" id="population" value = "<%= country.population%>">
  </div>
  <div class="form-group">
    <label for="flag">Flag: </label>
    <input type="text" name="country[flag]" id="flag" value = "<%= country.flag%>">
  </div>
  <input type="submit" value="Edit">
</form>
<a href="/countries">Go home</a>
<% include ../partials/footer %>


